version: "2.3"

services:
  gitlab-runner:
    build: 
      context: ./
      args:
        BUILDKIT_INLINE_CACHE: 1
      cache_from:
        - rnds/gitlab-runner:latest
    image: rnds/gitlab-runner
    working_dir: /home/app
    


